* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

h3 {
  margin: 0;
  padding: 0;
  color: var(--page-heading-color);
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --nav-background: rgba(0, 0, 0, 0);
}

/** HEADER */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  justify-content: space-between;
  z-index: 1;
  background: var(--nav-background);
}

@media (max-width: 760px) {
  header {
    background: rgb(0, 0, 0);
  }
}

.nav-links {
  flex: 1;
  display: flex;
  margin: 20px;
}

.nav-item {
  margin: 20px;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 1.15rem;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#header-right-side {
  display: flex;
  align-items: center;
}

#language-icon {
  margin-right: 20px;
}

#language-icon:hover {
  cursor: pointer;
}

/** HOMEPAGE */

/*! TOP SECTION */

#top-section {
  display: grid;
  position: relative;
  left: 0;
  top: 0;
  background-image: url("/photos/nik-owens.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin: 0;
  padding: 0;
}

#logo {
  position: absolute;
  justify-self: center;
  align-self: center;
  max-height: 80%;
  max-width: 100%;
  transition: 325ms;
}

#logo:hover {
  transform: translateY(-0.3%);
  cursor: pointer;
}

/*! BOTTOM SECTION */

#bottom-section {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 760px) {
  #bottom-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/*! BOX 1 */

.bottom-box {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

#box-one {
  flex: 1;
  background: url("https://raw.githubusercontent.com/joshwrn/restaurant/main/photos/cloris-ying.jpg");
  background-size: cover;
}

#bottom-box-header {
  padding: 0% 10% 1% 10%;
  align-self: center;
  text-align: center;
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
}

.option-icon {
  font-size: 1rem !important;
  transform: translateY(3px);
}

#online-button {
  align-self: center;
  width: 14em;
  padding: 1em;
  transition: 250ms;
  border: 0px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}

#online-button:hover {
  transform: translateY(-7%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*! BOX 2 */

#box-two {
  flex: 1;
  background-image: url("/photos/linda-sondergaard.jpg");
  background-size: cover;
}

#vintage-logo {
  align-self: center;
  max-width: 38%;
  transition: 300ms;
}

#vintage-logo:hover {
  transform: translateY(-0.5%);
  cursor: pointer;
}

@media (max-width: 760px) {
  #vintage-logo {
    align-self: center;
    max-width: 25%;
    padding: 5%;
  }
  #box-two {
    order: 3;
  }
}

/*! BOX 3 */

#box-three {
  flex: 1;
  background-image: url("/photos/jay-wennington.jpg");
  background-size: cover;
}

#bottom-box-header-three {
  padding: 0% 10% 0% 10%;
  align-self: center;
  text-align: center;
  font-family: "Parisienne", cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

#bottom-box-text-three {
  font-size: 0.8rem;
  transform: translateY(-20%);
  padding: 3% 20% 2% 20%;
  align-self: center;
  text-align: center;
}

#reserve-button {
  align-self: center;
  width: 10em;
  padding: 1em;
  transition: 250ms;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
}

#reserve-button:hover {
  transform: translateY(-7%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/** MENU PAGE */

#menu-page {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  background-image: url("/photos/jonathan-nguyen.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#menu {
  display: grid;
  grid-template-rows: 1fr 5fr;
  background: rgba(0, 0, 0, 0.651);
  backdrop-filter: blur(20px);
  width: 70%;
  height: 70%;
  justify-content: center;
  position: absolute;
}

#menu-header {
  font-family: "Parisienne", cursive;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
}

#menu-item-grid {
  position: absolute;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  height: 100%;
}

.menu-header {
  font-family: "Pinyon Script", cursive;
  font-size: 2rem;
}

#menu-logo {
  max-width: 80%;
  justify-self: center;
  align-self: center;
}

@media (max-width: 760px) {
  #menu-logo {
    position: absolute;
    visibility: hidden;
  }

  #menu-item-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
  }

  #menu-wine {
    margin-top: 5%;
  }
}

#food {
  text-align: center;
  align-self: center;
}

#drinks {
  text-align: center;
  align-self: center;
}

.menu-item {
  font-size: 0.8rem;
  margin: 2%;
}

#menu-dinner {
  margin-top: 5%;
}

#menu-red-wine {
  margin-top: 5%;
}

/** ABOUT PAGE */

#about-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 0;
  top: 0;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 760px) {
  #about-page {
    display: flex;
  }
  #about-image {
    display: none;
  }
}

#about-logo {
  position: relative;
  justify-self: center;
  align-self: center;
  max-height: 80%;
  max-width: 60%;
  transition: 325ms;
  padding: 0;
  margin: -1.25em;
}

#about-text {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 25%;
  line-height: 2.2em;
}

#about-button {
  align-self: center;
  width: 10em;
  padding: 1em;
  margin-top: 2em;
  transition: 250ms;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}

#about-button:hover {
  transform: translateY(-7%);
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

#about-image {
  background-image: url("photos/christine-siracusa.jpg");
  background-position: center;
  background-size: cover;
}
